.maClasse1 {
    color: red;
}

.maClasse2 {
    background-color: aliceblue;
}

.EnteteDisplay {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width : 500px) {

    .EnteteDisplay {
        flex-direction: row;
    }

}